@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: BerlinXBold; /* set name */
  src: url(./../public/berlin.x-bold.ttf); /* url of the font */
}
 .btn-custom {
  color: #342463;
  background-color: #ffaf94;
 }
 .menu-custom{
  background-color: #babae9;
 }

 h1 {
  font-family: BerlinXBold; /* use font */
}

body{
  color:  #342463;
}